body {
    background-color: rgb(207, 255, 255);
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: rgb(0, 45, 66);
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 450px;
    height: auto;
    text-align: center;
    margin: 0 auto;
    background-color: rgb(209, 236, 255);
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.521);
    padding-bottom: 40px;

}

.input {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 14px;
    width: 70%;
    height: 30px;
    margin: 5px;
    border-radius: 5px;
    border: 1px solid #ccc;
}

.input:hover {
    transform: scale(1.01);
    border: 1px solid rgb(17, 179, 255);
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.521);

}

.input:focus {
    transform: scale(1.01);
    border: 1px solid rgb(17, 179, 255);
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.521);
    outline: none;
}

#title, #description, .btn, .input {
    transition: all 0.4s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

#title:hover, #description:hover {
    color: rgb(0, 162, 255);
    transform: scale(1.05);
}

.btn {
    width: 70%;
    height: 30px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 15px;
    background-color: rgb(0, 174, 255);
    color: white;
    font-weight: bold;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin-top: 10px;
}

.btn:hover {
    transform: translateY(-3px);
    background-color: rgb(0, 136, 199);
}

.btn:active {
    transform: translateY(1px);
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.623);
    background-color: rgb(0, 50, 73);
}