body {
    background-color: rgb(207, 255, 255);
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: rgb(0, 45, 66);
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 450px;
    min-width: 340px;
    height: auto;
    text-align: center;
    margin: 0 auto;
    background-color: rgb(255, 255, 255);
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.521);
    padding-bottom: 40px;
}

.container:hover, #output:hover {
    transform: scale(1.01);
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.212);
}

.container:has(.btn:active) {
    transform: scale(1);
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.521);
    border-radius: 50px;
}

#output {
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.521);
    margin-top: 30px;
    padding-top: 0px;
    height: 200px;
    width: 80%;
}

.input {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 15px;
    width: 70%;
    height: 40px;
    margin: 5px;
    border-radius: 10px;
    border: 1px solid #ccc;
}

.input:hover, .input:focus {
    transform: scale(1.01);
    border: 1px solid rgb(17, 179, 255);
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.212);
    outline: none;
}

h2 {
    color: rgb(0, 185, 0);
}

#title, #description, .btn, .input, p, h2, .container, #output {
    transition: all 0.4s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

#title {
    background: linear-gradient(45deg, rgb(42, 177, 255), rgb(100, 43, 255));
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
}

#title:hover, #description:hover {
    color: rgb(0, 162, 255);
    transform: scale(1.05);
}

#description {
    color: rgb(31, 126, 180);
}

p:hover, h2:hover {
    color: rgb(92, 141, 255);
    transform: translateY(-2px);
}

.btn {
    width: 70%;
    height: 40px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 15px;
    background: linear-gradient(45deg, rgb(42, 177, 255), rgb(100, 43, 255));
    color: white;
    font-weight: bold;
    border: none;
    border-radius: 10px;
    margin-top: 10px;
}

.btn:hover {
    transform: translateY(-3px);
    background: linear-gradient(45deg, rgb(27, 118, 170), rgb(63, 27, 160));
}

.btn:active {
    transform: translateY(1px);
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.623);
    background: linear-gradient(45deg, rgb(14, 62, 90), rgb(35, 15, 88));
}


